#AuthName "login to site"
#AuthType Basic  
#Require valid-user
#AuthUserFile "/var/www/splyst/application/configs/.htpasswd"
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.splyst\.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^207\.198\.114\.205
RewriteRule ^(.*)$ http://splyst.com/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
